@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: var(--color-neutral-content);
}

input[type="color"] {
  border: none;
  border-radius: var(--radius-sm);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

:where(
  :root:has(
    .modal-open,
    .modal[open],
    .modal:target,
    .modal-toggle:checked,
    .drawer:not(.drawer-open) > .drawer-toggle:checked
  )
) {
  scrollbar-gutter: auto;
}
